<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.kaisersuzuki.surv-sorter</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/surv_health_and_sort.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/kaisersuzuki/Library/Logs/surv_health_and_sort.log</string>
	<key>StandardOutPath</key>
	<string>/Users/kaisersuzuki/Library/Logs/surv_health_and_sort.log</string>
	<key>StartInterval</key>
	<integer>900</integer>
</dict>
</plist>
